.carousel__wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.carousel__container {
    position: relative;
    width: 100%;
}

.img {
    position: relative;
    background-color: white;
    height: 100%;
    width: 75%;
}

.go {
    &__text {
        font-size: x-large;
        background-color: transparent;
    }
    &__left {
        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 2;
    }
    &__right {
        position: absolute;
        right: 2%;
        top: 50%;
        z-index: 2;
    }
}

@media only screen and (max-width: 950px) {
    .go {
        &__text {
            font-size: medium;
        }
    }
}
