.product {
    position: relative;
    border: 1px solid white;
    height: 300px;
    width: fit-content;
    margin: 10vh 10px 10px 10px;
    color: black;
    display: flex;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 30vh 10px 10px 10px;

        &__fav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__img {
        width: 60vw;
        height: 75vh;
    }

    &__fav {
        padding-left: 10px;
    }

    &__fav:hover {
        cursor: pointer;
    }
}

.cart__btn {
    width: 200px;
    margin-top: 20px;
    color: white;
    background-color: #ff00bd;
}

.cart__btn:hover {
    color: #ff00bd;
    background-color: aliceblue;
    border: 1px solid #ff00bd;
}

@media only screen and (max-width: 950px) {
    .product {
        display: flex;
        flex-direction: column;

        &__text {
            margin: 0;
        }

        &__img {
            width: 50vw;
            height: 45vh;
        }
    }
}
