.product {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    color: #253b56;
    height: 300px;
    width: 300px;
    margin: 10px;

    &__text {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: large;
    }

    &__img {
        width: 300px;
        height: 250px;
        border-radius: 10px 10px 0 0;
    }

    &__fav {
        position: absolute;
        bottom: 55px;
        right: 10px;
        color: white;
    }
}
